* {
    margin: 0%;
}

body {
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Launch_Page_Starlink1_vertical_18_DESKTOP_c851b30656.jpg);
    background-size: cover;
    background-color: black;
}

/*   Header */
nav {
    color: #ffffff;
    overflow: auto;
}

nav ul {
    margin-left: 70px;
}

nav ul li {
    float: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    list-style-type: none;
}

.img-list {
    margin-top: 15px;
    position: relative;
}

li {
    margin-top: 20px;
    transition: border 2s;
}

li a {
    color: #f8f8f8;
    text-decoration: none;
}

section {
    display: inline-block;
}

.upcoming-p {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    line-height: 38px;
    position: relative;
    top: 350px;
    left: 100px;
}

h1 {
    position: relative;
    top: 360px;
    left: 100px;
    font-family: 'D-DIN-Bold', Arial, Verdana, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    color: #FFFFFF;
    margin: auto;
}

.starlink-btn {
    border: 2px solid white;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 50px;
    position: relative;
    top: 380px;
    left: 100px;
    transition: 0.5s;
}

.starlink-btn:hover {
    color: black;
    background-color: white;
}

footer {
    display: inline-block;
    position: relative;
    right: 100px;

}

.foot-p {
    position: relative;
    top: 550px;
}

.foot-span {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.foot-link {
    background-color: black;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    transition: color 0.5s;
}

.foot-link:hover {
    color: #b0b0b0;
}